<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Сириус</title>
    
        <style>
        body {
            padding-top: 5rem;
        }
        </style>
    </head>
    <body>
        <main role="main" class="container">
            <div id="the-starter">
                <h1>Привет, Сириус!</h1>
                <p class="lead">Моделируем документ.</p>
            </div>
            <div id="the-treedoc-test-cases" class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Тест</th>
                        </tr>
                    </thead>
                    <tbody id="the-treedoc-test-cases-tbody">
                    </tbody>
                </table>
            </div>
        </main>

        <script src="/static/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="/static/js//popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="/j/treedoc" crossorigin="anonymous"></script>

        <script>
        // Основной код расположен в файле templates/j_treedoc.js.
        // Ниже расположен тестирующий код.

        function assertEquals(left, right) {
            if (left !== right) {
                throw new Error("Ошибка: [" + left + "] != [" + right + "]");
            }
        }

        [
            /*function testNewDocumentDoesNotThrow() {
                let d = public_newDocument();
            },
            function testMakeEmptyDocument() {
                let d = public_newDocument();
                assertEquals(public_getContent(d), "");
            },
            function testInsertOneSymbol() {
                let d = public_newDocument();
                public_insertAfter(d, -1, "a");
                assertEquals(public_getContent(d), "a");
            },
            function testInsertTwoSymbolsOneByOne() {
                let d = public_newDocument();
                public_insertAfter(d, -1, "a");
                public_insertAfter(d,  0, "b");
                assertEquals(public_getContent(d), "ab");
            },
            function testInsertTwoSymbolsInTheBeginning() {
                let d = public_newDocument();
                public_insertAfter(d, -1, "a");
                public_insertAfter(d, -1, "b");
                assertEquals(public_getContent(d), "ba");
            },
            function testInsertAndRemove() {
                let d = public_newDocument();
                public_insertAfter(d, -1, "a");
                public_remove(d, 0);
                assertEquals(public_getContent(d), "");
            },
            function testCatToCut() {
                let d = public_newDocument();
                public_insertAfter(d, -1, "c");
                public_insertAfter(d,  0, "a");
                public_insertAfter(d,  1, "t");
                assertEquals(public_getContent(d), "cat");
                public_replace(d, 1, "u");
                assertEquals(public_getContent(d), "cut");
            },
            function testSerializingEmptyDocumentDoesNotThrow() {
                let d1 = public_newDocument();
                let s1 = public_serializeState(d1);
            },
            function testSerializingAndRestoringEmptyDocument() {
                let d1 = public_newDocument();
                let s1 = public_serializeState(d1);
                assertEquals(public_getContent(d), "");
            },
            function testCopyCat() {
                let d1 = public_newDocument();
                assertEquals(public_getContent(d1), "");
                public_insertAfter(d1, -1, "c");
                public_insertAfter(d1,  0, "a");
                public_insertAfter(d1,  1, "t");
                assertEquals(public_getContent(d1), "cat");
                let s1 = public_serializeState(d1);
                let d2 = public_newDocument();
                assertEquals(public_getContent(d2), "");
                assertEquals(public_getContent(d2), "cat");
            },
            function testSyncInsertions() {
                let d1 = public_newDocument();
                assertEquals(public_getContent(d1), "");
                public_insertAfter(d1, -1, "a");
                public_insertAfter(d1,  0, "b");
                assertEquals(public_getContent(d1), "ab");
                let s1 = public_serializeState(d1);

                let d2 = public_newDocument();
                assertEquals(public_getContent(d2), "");
                assertEquals(public_getContent(d2), "ab");

                public_insertAfter(d1, 0, "c");
                assertEquals(public_getContent(d1), "acb");

                public_insertAfter(d2, 1, "d");
                assertEquals(public_getContent(d1), "abd");

                let s2 = public_serializeState(d1);
                let s3 = public_serializeState(d2);

                assertEquals(public_getContent(d1), "acbd");
                assertEquals(public_getContent(d2), "acbd");
            },*/
            function MegaSuperTest() {
                let d1 = public_newDocument();
                debugger;
                public_insertAfter(d1, -1, 'a');
                console.log(d1);
                public_insertAfter(d1, 0, 'b');
                console.log(d1);
                public_insertAfter(d1, 1, 'c');
                console.log(d1);
                public_insertAfter(d1, 2, 'd');
                console.log(d1);
                public_insertAfter(d1, 3, 'e');
                console.log(d1);
                public_insertAfter(d1, 4, 'f');
                console.log(d1);
                public_insertAfter(d1, 5, 'g');
                console.log(d1);
                public_insertAfter(d1, 6, 'i');
                console.log(d1);
                public_insertAfter(d1, 7, 'j');
                public_insertAfter(d1, 8, 'k');
                public_insertAfter(d1, 9, 'l');
                public_insertAfter(d1, 10, 'm');
                public_insertAfter(d1, 11, 'n');
                console.log(public_getContent(d1));
                assertEquals(public_getContent(d1), "abcdefgijklmn");
            },
            /*function testSyncDeletions() {
                let d1 = public_newDocument();
                assertEquals(public_getContent(d1), "");
                public_insertAfter(d1, -1, "a");
                public_insertAfter(d1,  0, "b");
                assertEquals(public_getContent(d1), "ab");
                let s1 = public_serializeState(d1);

                let d2 = public_newDocument();
                assertEquals(public_getContent(d2), "");
                assertEquals(public_getContent(d2), "ab");

                public_remove(d1, 0);
                assertEquals(public_getContent(d1), "b");

                public_remove(d2, 1);
                assertEquals(public_getContent(d1), "a");

                let s2 = public_serializeState(d1);
                let s3 = public_serializeState(d2);

                assertEquals(public_getContent(d1), "");
                assertEquals(public_getContent(d2), "");
            }*/
        ].forEach(function(testCase) {
            let name = testCase.name;
            let error = false;
            try {
                testCase();
                console.log("[" + name + "] Тест пройден!");
            } catch (ex) {
                console.error("[" + name + "] Тест завален.", ex);
                error = true;
            }
            let html = '';
            if (error) {
                html += '<tr class="table-danger">'
            } else {
                html += '<tr class="table-success">'
            }
            html += '<td>' + name + '</td>';
            html += '</tr>';
            $("#the-treedoc-test-cases-tbody").append(html);
        });
        </script>
  </body>
</html>
