<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Сириус</title>

        <style>
        body {
            padding-top: 5rem;
        }
        </style>
    </head>
    <body>
        <main role="main" class="container">
            <div id="the-starter">
                <h1>Привет, Сириус!</h1>
                <p class="lead">Минималистичный коллаборативный текстовый редактор с синхронизацией в реальном времени.</p>
            </div>
            <div id="the-integration" class="container">
                <div class="row">
                    <form class="col">
                        <div class="form-group">
                            <textarea id="integration-textarea" class="form-control" rows="12"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <script src="/static/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="/static/js//popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="/j/editlist" crossorigin="anonymous"></script>
        <script src="/j/treedoc" crossorigin="anonymous"></script>

        <script>
        // Этот файл также использует код из
        // - templates/j_editlist.js (четвертый шаг)
        // - templates/j_treedoc.js (пятый шаг)
        var trash = "q€w®€™¥®¥™¥iuoihg§°£z×↓b©↓−«h»………»“i∞o→←∞&↑‰$³²²";
        var localDoc = public_newDocument();
        //var ws = new WebSocket("ws://" + document.domain + ":" + location.port + "/ws");
	var ws = new WebSocket("ws://104.248.26.149:5000/ws");
        $("#integration-textarea").on("input", function() {
            var newContent = $("#integration-textarea").val();
            updateLocalDocument(newContent, localDoc);
            ws.send(public_serializeState(localDoc));
        });
        ws.onmessage = function (event) {
            var data = event.data;
            if (data === trash) {
                if (public_getContent(localDoc) !== "") {
                    ws.send(public_serializeState(localDoc));
                }
            } else {
                public_mergeStateWith(localDoc, data);
                $("#integration-textarea").val(public_getContent(localDoc));
            }
        };

        ws.onopen = function () {
            ws.send(trash);
        }

        //------------------------------------------------
        // !!!!! vvvvv vvvvv vvvvv vvvvv vvvvv vvvvv vvvvv
        //
        // TODO(sandello): Соберите воедино результаты работы с третьего шага и шестого шага.
        //
        // Вам нужно:
        // - создать в JS модель документа;
        // - наладить синхронизацию текстового поля с моделью;
        //   - для этого необходимо добавить обработчик `$(...).on("input", function() { ... })`,
        //     который будет вызываться при изменении содержимого поля;
        //   - получить содержимое поле можно через `$(...).val()`;
        // - (два пункта выше были сделаны в шестом шаге, но чуть по-другому скомпонованы);
        // - наладить синхронизацию данных между браузерам;
        //   - для этого необходимо установить соединение;
        //   - после шага синхронизации поля с моделью необходимо отправить состояние другим браузерам;
        //   - при получении состояния от другого браузера нужно обновить модель;
        //   - и обновить текстовое поле: `$(...).val("Hello!")` установит содержимое поля в "Hello!";
        // - (код общения через сервер можно взять с первого-третьего шагов);
        // - (тесты на функции public_serializeState, public_mergeWithSerializedState есть в шестом шаге);
        //
        // Больше кода в данном файле нет.
        //
        // Попробуйте собрать итоговое решение самостоятельно.
        //
        // Удачи!
        //
        // !!!!! ^^^^^ ^^^^^ ^^^^^ ^^^^^ ^^^^^ ^^^^^ ^^^^^
        //------------------------------------------------
        </script>
  </body>
</html>
